@font-face {
    font-family: 'Averta-CY';
    src: url('../fonts/AvertaCY-Bold.eot');
    src: url('../fonts/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaCY-Regular.woff2') format('woff2'),
        url('../fonts/AvertaCY-Regular.woff') format('woff'),
        url('../fonts/AvertaCY-Regular.ttf') format('truetype'),
        url('../fonts/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta-CY';
    src: url('../fonts/AvertaCY-Semibold.eot');
    src: url('../fonts/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaCY-Semibold.woff2') format('woff2'),
        url('../fonts/AvertaCY-Semibold.woff') format('woff'),
        url('../fonts/AvertaCY-Semibold.ttf') format('truetype'),
        url('../fonts/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta-CY';
    src: url('../fonts/AvertaCY-Bold.eot');
    src: url('../fonts/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvertaCY-Bold.woff2') format('woff2'),
        url('../fonts/AvertaCY-Bold.woff') format('woff'),
        url('../fonts/AvertaCY-Bold.ttf') format('truetype'),
        url('../fonts/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.inte-Onboard__Wrapper,* {
    font-family: "Averta-CY"!important;
  }
